WcfServiceLibrary1Demo2/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/servisdemo13.BASE.ProjectModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/servisdemo13.BASE.ProjectModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProjectModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectModel" nillable="true" type="tns:ProjectModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectModel" nillable="true" type="tns:ArrayOfProjectModel" />
  <xs:complexType name="ProjectModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectEndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectStartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="tns:ArrayOfProjectModel.TaskModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectModel" nillable="true" type="tns:ProjectModel" />
  <xs:complexType name="ArrayOfProjectModel.TaskModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectModel.TaskModel" nillable="true" type="tns:ProjectModel.TaskModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectModel.TaskModel" nillable="true" type="tns:ArrayOfProjectModel.TaskModel" />
  <xs:complexType name="ProjectModel.TaskModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectModel.TaskModel" nillable="true" type="tns:ProjectModel.TaskModel" />
</xs:schema>