WcfServiceLibrary1Demo2/Service References/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:2404/Service1.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:2404/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2404/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DYS.Common.VO" />
      <xsd:import schemaLocation="http://localhost:2404/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/servisdemo13.BASE.ProjectModel" />
      <xsd:import schemaLocation="http://localhost:2404/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/servisdemo13.BASE.UserModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTask_InputMessage">
    <wsdl:part name="parameters" element="GetTask" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGorevOne_InputMessage">
    <wsdl:part name="parameters" element="GetGorevOne" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGorevOne_OutputMessage">
    <wsdl:part name="parameters" element="GetGorevOneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProTask_InputMessage">
    <wsdl:part name="parameters" element="GetProTask" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProTask_OutputMessage">
    <wsdl:part name="parameters" element="GetProTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTaskList_InputMessage">
    <wsdl:part name="parameters" element="GetTaskList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTaskList_OutputMessage">
    <wsdl:part name="parameters" element="GetTaskListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="DeleteTask" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProject_InputMessage">
    <wsdl:part name="parameters" element="GetProject" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProject_OutputMessage">
    <wsdl:part name="parameters" element="GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTask_InputMessage">
    <wsdl:part name="parameters" element="GetUserTask" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserTask_OutputMessage">
    <wsdl:part name="parameters" element="GetUserTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyTask_InputMessage">
    <wsdl:part name="parameters" element="GetMyTask" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMyTask_OutputMessage">
    <wsdl:part name="parameters" element="GetMyTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTaskDetail_InputMessage">
    <wsdl:part name="parameters" element="GetTaskDetail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTaskDetail_OutputMessage">
    <wsdl:part name="parameters" element="GetTaskDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTaskStatus_InputMessage">
    <wsdl:part name="parameters" element="SetTaskStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTaskStatus_OutputMessage">
    <wsdl:part name="parameters" element="SetTaskStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="urn:IService1/GetUser" message="IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetUserResponse" message="IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="urn:IService1/GetTask" message="IService1_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetTaskResponse" message="IService1_GetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGorevOne">
      <wsdl:input wsaw:Action="urn:IService1/GetGorevOne" message="IService1_GetGorevOne_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetGorevOneResponse" message="IService1_GetGorevOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProTask">
      <wsdl:input wsaw:Action="urn:IService1/GetProTask" message="IService1_GetProTask_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetProTaskResponse" message="IService1_GetProTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskList">
      <wsdl:input wsaw:Action="urn:IService1/GetTaskList" message="IService1_GetTaskList_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetTaskListResponse" message="IService1_GetTaskList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="urn:IService1/DeleteTask" message="IService1_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/DeleteTaskResponse" message="IService1_DeleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="urn:IService1/Login" message="IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/LoginResponse" message="IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <wsdl:input wsaw:Action="urn:IService1/GetProject" message="IService1_GetProject_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetProjectResponse" message="IService1_GetProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTask">
      <wsdl:input wsaw:Action="urn:IService1/GetUserTask" message="IService1_GetUserTask_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetUserTaskResponse" message="IService1_GetUserTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMyTask">
      <wsdl:input wsaw:Action="urn:IService1/GetMyTask" message="IService1_GetMyTask_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetMyTaskResponse" message="IService1_GetMyTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskDetail">
      <wsdl:input wsaw:Action="urn:IService1/GetTaskDetail" message="IService1_GetTaskDetail_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/GetTaskDetailResponse" message="IService1_GetTaskDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTaskStatus">
      <wsdl:input wsaw:Action="urn:IService1/SetTaskStatus" message="IService1_SetTaskStatus_InputMessage" />
      <wsdl:output wsaw:Action="urn:IService1/SetTaskStatusResponse" message="IService1_SetTaskStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>